{% extends "main.html" %}

{% block content %}

<div class="container">
  <div class="new_request">
  <h2 class="no_margin">Add New Restaurant </h2>
</div>
  <form action="/add" method="GET">
    <div class="form-group">

      <label for="Restaurant">Restaurant name:</label>
      <input type="text" class="form-control" id="Restaurant" name="Restaurant" placeholder="Please enter the restaurant name" required>
    </div>
    <div class="form-group mb-3">
      <label for="Rating">Rating:</label>
      <input type="text" class="form-control" id="Rating" name="Rating"  max="5" placeholder="Please enter the rating out of 5" required>
    </div>
    <div class="form-group mb-3">
      <label for="Description">Description:</label>
      <input type="text" class="form-control" id="Description" name="Description" placeholder="Please enter a brief description" required>
    </div>
    <div class="form-group mb-3">
      <label for="Restaurant_image">Restaurant image:</label>
      <input type="text" class="form-control" id="Restaurant_image" name="Restaurant_image" placeholder="Please enter the URL of the image" required>
    </div>
    <div class="form-group mb-3">
      <label for="Food_image1">Food image 1:</label>
      <input type="text" class="form-control" id="Food_image1" name="Food_image1" placeholder="Please enter the URL of the image" required>
    </div>
    <div class="form-group mb-3">
      <label for="Food_image2">Food image 2:</label>
      <input type="text" class="form-control" id="Food_image2" name="Food_image2" placeholder="Please enter the URL of the image" required>
    </div>
    <div class="form-group mb-3">
      <label for="Summary">Summary:</label>
      <textarea  type="text" class="form-control" id="Summary" name="Summary" rows="4" placeholder="Please enter a brief summary about the restaurant" required></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="Address">Address:</label>
      <input type="text" class="form-control" id="Address" name="Address" placeholder="Please enter the address" required>
    </div>
    <div class="form-group mb-3">
      <label for="price_range">Price range:</label>
      <input type="text" class="form-control" id="price_range" name="price_range" placeholder="Please enter the price range in $" required>
    </div>

    <div class="form-group mb-3">
      <label for="Menu">Menu:</label>
      <input type="text" class="form-control" id="Menu" name="Menu" placeholder="Please enter the URL of the menu" required>
    </div>
    <div class="form-group mb-3">
      <label for="Hours">Hours:</label>
      <input type="text" class="form-control" id="Hours" name="Hours" placeholder="Please enter hours, e.g., Mon-Sun: 10:30AM - 10:00PM" required>
    </div>
    <div class="form-group mb-3">
      <label for="Distance_from_campus">Distance from campus:</label>
      <input type="text" class="form-control" id="Distance_from_campus" name="Distance_from_campus" placeholder="Please enter the distance from campus in miles" required>
    </div>
    <div class="form-group mb-3">
      <label for="Contact">Contact:</label>
      <input type="text" class="form-control" id="Contact" name="Contact" placeholder="Please enter the contact number, ex: +1 9176756616" required>
    </div>
    <div class="form-group mb-3">
      <label for="Offerings">Offerings:</label>
      <input type="text" class="form-control" id="Offerings" name="Offer"  placeholder="Please enter the offerings, seperated by comma">
    </div>

    <div class="btn2"> 
      <button class="btn custom-btn" type="submit" id="submitRestaurant">Submit</button>
    </div>
  </form>
{% endblock %}
